@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary: #2248e2;
$footer: #343a40;
$bg: white;
$text: white;
$card-automation: #ffc107;
$card-simplicity: #17a2b8;
$card-context: #706e6e;
$heading-text: #212529;
$font: "'Roboto', sans-serif";
$border-badge: #e7e7e7;
