.card__wrapper{
    padding: 1rem;
    border-radius: 1rem;
    color: white;

    .card__wrapper--img{
        margin-inline: auto;

        p{
            width: 70%;
            margin-inline: auto;
            padding: 3px;
            background-color: var(--card-context-color);
            border-radius: 1rem;
            margin-top: 1rem;
        }
    }

    .card__wrapper--text{

        h3{
            
            margin-bottom: .5rem;
            width: 5rem;
        }
        
    }
}

.card__bg--orange{
    background-color: var(--card-automation-color);
}

.card__bg--bluegreen{
    background-color: var(--card-simplicity-color);
}